*{
	box-sizing: border-box;
}

.container {
	font-family: "Helvetica";
	text-align: center;
	width: 100%;
	background-color: gray; 
	/* Weird stuff -> no color working for container. Worked in the beginning, then just stopped working.*/
}

header {
	background-color: purple;
	width: 100%;
	height: 100px;
	margin-top: 0;
	color: white;
	font-size: 18px;
}

#hello-fixed {
	background-color: green;
	height: 800px;
	width: 800px;
	position: absolute;
	top: 110px;
	left: 700px;
	padding: 20px;
}

#orange {
	width: 200px;
	height: 200px;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: orange;
}

#text1 {
	background-color: yellow;
	height: 800px;
	width: 200px;
	margin: 20px;
}

#text2 {
	background-color: pink;
	height: 800px;
	width: 200px;
	margin: 20px;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: blue;
	height: 50px;
	color: white;
	padding: 20px;
	font-size: 18px;
}

#floats {
	position: absolute;
	top: 80px;
	right: 50px;
	width: 500px;
	margin-top: 10px;
}


#text2 {
	float: right;
}

/*Found 2 important points -> 
1. Regardless of which element is given float first, the placement in html controls the order.
2. Line-height is behaving differently for header and footer -> don't know why. 500% does not look same for both.							
*/

#text1 {
	float: right;
}

